*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
h1{
    font-family: 'Fredoka One', bold;
    color:rgb(255, 0, 212);
}
h3, li{
    font-family: 'Fredoka One', bold;
    color:white;
}
li{
    color:white;
}
.container{
    max-width: 1200px;
    height: auto;
    margin:0px 90px;
    text-align: center;
    padding: 40px 0;
}

.clearfix::after{
    content:'';
    display: table;
    clear:both; 
}
.colonna{
    float:left;
    width:calc(100% / 3);
    padding:20px 0;
}
.scheda_presentazione{
    height:100px;
    width: 330px;
    color:white;
    background-color: black;        
}
.row{
    margin: 0 - 20px;
}
ul{
    list-style-type: none;
}
header{
    height: auto;
    display: block;
    text-align: center;
    padding-top: 40px;
}
.float-left{
    float:left;
    margin-right:10px;
}
img{
    height: 100px;
    
}
.floatright{
    float:right;
}